<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/styles/editStyle.css" />
</head>
<body>
    <div class="container">
        <p class="header">Edit your Post</p>
        <form method="post" action="/update/<%= post._id %>" class="edit-form">
            <textarea name="content" class="content-input" placeholder="What's on your mind?"><%= post.content %></textarea>
            <input type="submit" class="submit-button" value="⬆️ Update">
        </form>
    </div>
</body>
</html>
